.nonMember {
  display: flex;
  align-items: center;
  background-color: #EBEBEB;
  height: 200px;

  .nonMember-Profile {
    margin-right: 10px;
  }

  .nonMember-text {
    color: black;
    text-align:left;
    margin-bottom: 10px;
  }

}




