@font-face {
  font-family: 'SUITE-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
.memberYesFundingstatus{
  display: flex;
  width: 100%;
}

.memberYesFunding {
  display: flex;
  align-items: flex-start;
  background-color: #EBEBEB;
  height: 210px;


  font-family:'SUITE-Regular';
  .memberYesFunding-Profile {
    margin-right: 10px;
  }

  .profile-img{
    width: 40px;
    margin-right: 10px;
  }

  .memberYesFunding-item {
    display: flex;
    align-items: center;
    margin: 15px 15px 0 25px;
    justify-content: space-around;
    width: 100%;

    .memberYesFunding-text{
      display: flex;
      align-items: center;
      margin-left: 5px;
      .myfundingNickName{
        font-size: 23px;
        font-weight: bold;
        margin-right: 10px;
      }
    }

    .memberFundingD-day{
      font-size: 23px;
      font-weight: bold;
      margin-left: 20px;
      color: #FFACAC;

    }
    .memberFunding-RightItem{
      display: contents;

      .memberFundingProgress{
        font-size: 23px;
        font-weight: bold;
        margin-left: auto;
      }
    }
  }
  .myFundingItemsContainer{
    position: absolute;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;

    .myFundingItems{
      display: flex;
      justify-content: center;
      height: 200px;

      .myFundingItem-a {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        float: left;
        margin: 0px 20px 2px 20px ;

        .myFundingItem {
          display: inline-block;
          flex-direction: column;
          text-align: center;

          .item-img {
            width: 140px;
            height: 110px;
            box-shadow: 0px 0px 3px #b8b8b8;
            margin-bottom: 10px;
          }

          .gauge-bar {
            width: 150px;
            height: 13px;

          }
        }
      }
    }


    .item-img-container{
      display: flex;
      justify-content: center;

    }
  }
}


.carousel .slide {
  display: flex;
  justify-content: flex-end;
  height: 200px;
  min-width: 100%;
  margin: 0;
  position: relative;
  text-align: center;
}

.carousel.carousel-slider .control-arrow {
  display: flex;
  background-color: #cbcbcb;
  height: 30px;
  width:30px;
  border-radius: 50%;
  margin: 92px 30px 0 30px;
}

.carousel .control-next.control-arrow:before {
  border-left: 10px solid #fff;
  margin-top: 2px;
  margin-left: 6px;

}
.carousel .control-prev.control-arrow:before {
  border-right: 10px solid #fff;
  margin-top: 2px;
  margin-right: 6px;

}

.bg-success {
  --bs-bg-opacity: 1;
  background-color: #40d600 !important;
}






