.navbar-logo {
  img {
    height: 50px;
    margin-right: 10px;
    margin-left: 10px;
  }
}
.headerBar{
  background-color: white;
  font-family: 'SUITE-Regular';
}

.navbarMenu{
  max-Height: 100px;
  .nav-link{
    margin-right: 25px;
  }
}
.navbarMemu.navbar-nav.navbar-nav-scroll {
  width: 100%;
}

.header-search-login
{
  display: flex;
  width: 100%;
}
.searchBar{
  display: flex;
  flex-direction: row;
  margin-left: auto;
  flex-wrap: nowrap;
  .form-control {
    border-radius: 15px;
  }

  .me-2{
    margin-left: 5px;
  }
  .gifthub-btn{
    margin-left: 5px;
    border: none;
    box-shadow: none;
    background: none;

    &:hover, &:active, &:focus{
      background:none !important;
      box-shadow:none !important;
    }
    img{
      height: 25px;
    }
  }
}
@media (max-width: 992px) {
  form.searchBar {
    width: 100%;
  }
  .navbar-light .navbar-toggler-icon {
     background-image: url('/assets/hamburgerIcon.png');
  }
}


.navbar-nav {
  display: flex;
  align-items: center;
}
.loginLogout {
  margin-right: 25px;
  margin-left: 5px;
  display: flex;
  .login-btn{
    border: none;
    background:none;
  }
  button.login-btn {
    width: 55px;
  }
}
