.friendFunding-profile-Dday{
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 64px;
  margin: 12px 20px 10px 20px;

  .friendFundingProfile {
    display: flex;
    align-items: center;


    .friendProfileImg {
      width: 58px;
      height: 58px;
      object-fit: cover;
      flex-shrink: 0;
      border-radius: 50%;
      border-color: #000000 !important;
      border: 1px solid;
      margin-right: 10px;
    }
    .friendNameAndTag {
      display: flex;
      flex-direction: row;
      align-items: center;

      .friendName {
        color: #000000;
        font-size: clamp(18px, 1.3vw, 20px);
        font-weight: bold;
        word-break: keep-all;
      }

      .friendTag {
        font-size: 13px;
        height: 29px;
        color: #9c9c9c;
        margin-left: 8px;
        display: flex;
        align-items: flex-end;
        white-space: nowrap;
      }
    }
  }
  .friendFunding-DDay{
    display: flex;
    align-items: center;

    .dDay{
      color: #000000;
      font-weight: bold;
      font-size: clamp(18px, 1.3vw, 20px);
      margin-left: auto;
      white-space: nowrap;
    }
  }

}










