.friend-funding-bar-code {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin-top: 10px;

  .friend-funding-bar-code-image {
    display: flex;
    align-items: center;

    img.barcodeImg {
      width: 360px;
      height: auto;
    }
  }

  .friend-funding-bar-code-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .friend-funding-bar-code-price {
      color: #000000;
      font-size: 35px;
      font-weight: bold;
      text-align: end;
    }

    .friendToFundingBtn-btn {
      display: flex;
      justify-content: flex-end;

      .yellowBtn{
        display: flex;
        font-size: 20px;
        height: 45px;
        width: 171px;
        align-items: center;
        justify-content: center;
      }

    }
  }
}