.mypage-myfunding-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: auto;
  padding: 0px 30px 0px 30px;
  }

.mypage-myfunding-view {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 240px;
  min-height: 470px;

}

.mypage-myfunding-group {
  display: flex;
  flex-direction: row;
  height: 13px;
}


.mypage-myfunding-overlap-group {
  background-color: #d9d9d9;
  border-radius: 8px;
  height: 13px;
  width: 31px;
}

.mypage-myfunding-text-wrapper, .mypage-myfunding-div {
  color: #ffffff;
  font-family: SUITE-Regular;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  text-align: center;
}

.mypage-myfunding-div {
  color: #8c8c8c;
  margin-left: 5px;
}

.mypage-myfunding-image {
  height: 232px;
  object-fit: cover;
  width: 232px;
}

.mypage-myfunding-title-wrapper-3{
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
  font-family: SUITE-Regular;
  font-size: 15px;
  white-space: normal;
  min-height: 75px;
}

.mypage-myfunding-text-wrapper-2, .mypage-myfunding-text-wrapper-3  {
  color: #000000;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  padding-bottom: 5px;
  padding-top: 10px;
}

.mypage-myfunding-text-wrapper-4{
  text-align: end;
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.mypage-myfunding-text-wrapper-3, .mypage-myfunding-text-wrapper-4 {
  font-family: SUITE-Regular;
  font-size: 15px;
}

.mypage-myfunding-text-wrapper-2 {
  align-self: flex-end;
}

.gauge-bar{
  width: 100% !important;
}

@media (max-width: 768px) {
  .mypage-myfunding-box, .mypage-myfunding-view {
    flex-direction: column;
  }

  .mypage-myfunding-group {
    flex-wrap: wrap;
  }
}