.mypage-myhistory-total-container {
  display: flex;
  font-family: SUITE-Regular;

  .mypage-left-pane-container{
    display: flex;
    flex-direction: column;
  }

  .mypage-right-pane-containter{
    display: flex;
    flex-direction: column;
    border-left: 1px solid #3e3e3e;
    height: 100%;
  }

}