.fundingOpenBtnBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 74px;

}
  
.fundingOpenBtnView {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 74px;



  .fundingOpenTagBtn {
    display: flex;
    margin-top: 3%;
    height:  40%;
  }

  .birthdayTagBtn, .graduateTagBtn, .etcTagBtn {
    background-color: #FFC83B;
    color: black;
    box-shadow: none;
    text-align: center;
    border-radius: 10px;
    margin-right:23px;
    font-size: 10px;
    border-color: black;
    width: 65px;

    &:hover, &:active &:focus {
      background-color: #000000;
      color: white;
    }
  }
}
  
.fundingOpenBtnTitle {
      justify-self: flex-start;
      color: #000000;
      font-size: 12px;
      font-weight: 500;
      white-space: nowrap;
}


@media (max-width: 768px) {
    .view {
      flex-direction: column;
    }
}