.fundingOpenBtnBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 74px; }

.fundingOpenBtnView {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 74px;
  margin-top: 5px; }
  .fundingOpenBtnView .fundingOpenTagBtn {
    display: flex;
    margin-top: 3%;
    justify-content: space-between; }
  .fundingOpenBtnView .birthdayTagBtn, .fundingOpenBtnView .graduateTagBtn, .fundingOpenBtnView .etcTagBtn {
    background-color: #FFC83B;
    color: black;
    box-shadow: none;
    text-align: center;
    border-radius: 10px;
    font-size: 13px;
    border-color: black;
    width: 95px;
    border: none; }
    .fundingOpenBtnView .birthdayTagBtn:hover, .fundingOpenBtnView .birthdayTagBtn:active .fundingOpenBtnView .birthdayTagBtn:focus .fundingOpenBtnView .birthdayTagBtn:visited, .fundingOpenBtnView .graduateTagBtn:hover, .fundingOpenBtnView .graduateTagBtn:active .fundingOpenBtnView .birthdayTagBtn:focus .fundingOpenBtnView .birthdayTagBtn:visited, .fundingOpenBtnView .etcTagBtn:hover, .fundingOpenBtnView .etcTagBtn:active .fundingOpenBtnView .birthdayTagBtn:focus .fundingOpenBtnView .birthdayTagBtn:visited, .fundingOpenBtnView .birthdayTagBtn:active .fundingOpenBtnView .graduateTagBtn:focus .fundingOpenBtnView .birthdayTagBtn:visited, .fundingOpenBtnView .graduateTagBtn:active .fundingOpenBtnView .graduateTagBtn:focus .fundingOpenBtnView .birthdayTagBtn:visited, .fundingOpenBtnView .etcTagBtn:active .fundingOpenBtnView .graduateTagBtn:focus .fundingOpenBtnView .birthdayTagBtn:visited, .fundingOpenBtnView .birthdayTagBtn:active .fundingOpenBtnView .etcTagBtn:focus .fundingOpenBtnView .birthdayTagBtn:visited, .fundingOpenBtnView .graduateTagBtn:active .fundingOpenBtnView .etcTagBtn:focus .fundingOpenBtnView .birthdayTagBtn:visited, .fundingOpenBtnView .etcTagBtn:active .fundingOpenBtnView .etcTagBtn:focus .fundingOpenBtnView .birthdayTagBtn:visited, .fundingOpenBtnView .birthdayTagBtn:active .fundingOpenBtnView .birthdayTagBtn:focus .fundingOpenBtnView .graduateTagBtn:visited, .fundingOpenBtnView .graduateTagBtn:active .fundingOpenBtnView .birthdayTagBtn:focus .fundingOpenBtnView .graduateTagBtn:visited, .fundingOpenBtnView .etcTagBtn:active .fundingOpenBtnView .birthdayTagBtn:focus .fundingOpenBtnView .graduateTagBtn:visited, .fundingOpenBtnView .birthdayTagBtn:active .fundingOpenBtnView .graduateTagBtn:focus .fundingOpenBtnView .graduateTagBtn:visited, .fundingOpenBtnView .graduateTagBtn:active .fundingOpenBtnView .graduateTagBtn:focus .fundingOpenBtnView .graduateTagBtn:visited, .fundingOpenBtnView .etcTagBtn:active .fundingOpenBtnView .graduateTagBtn:focus .fundingOpenBtnView .graduateTagBtn:visited, .fundingOpenBtnView .birthdayTagBtn:active .fundingOpenBtnView .etcTagBtn:focus .fundingOpenBtnView .graduateTagBtn:visited, .fundingOpenBtnView .graduateTagBtn:active .fundingOpenBtnView .etcTagBtn:focus .fundingOpenBtnView .graduateTagBtn:visited, .fundingOpenBtnView .etcTagBtn:active .fundingOpenBtnView .etcTagBtn:focus .fundingOpenBtnView .graduateTagBtn:visited, .fundingOpenBtnView .birthdayTagBtn:active .fundingOpenBtnView .birthdayTagBtn:focus .fundingOpenBtnView .etcTagBtn:visited, .fundingOpenBtnView .graduateTagBtn:active .fundingOpenBtnView .birthdayTagBtn:focus .fundingOpenBtnView .etcTagBtn:visited, .fundingOpenBtnView .etcTagBtn:active .fundingOpenBtnView .birthdayTagBtn:focus .fundingOpenBtnView .etcTagBtn:visited, .fundingOpenBtnView .birthdayTagBtn:active .fundingOpenBtnView .graduateTagBtn:focus .fundingOpenBtnView .etcTagBtn:visited, .fundingOpenBtnView .graduateTagBtn:active .fundingOpenBtnView .graduateTagBtn:focus .fundingOpenBtnView .etcTagBtn:visited, .fundingOpenBtnView .etcTagBtn:active .fundingOpenBtnView .graduateTagBtn:focus .fundingOpenBtnView .etcTagBtn:visited, .fundingOpenBtnView .birthdayTagBtn:active .fundingOpenBtnView .etcTagBtn:focus .fundingOpenBtnView .etcTagBtn:visited, .fundingOpenBtnView .graduateTagBtn:active .fundingOpenBtnView .etcTagBtn:focus .fundingOpenBtnView .etcTagBtn:visited, .fundingOpenBtnView .etcTagBtn:active .fundingOpenBtnView .etcTagBtn:focus .fundingOpenBtnView .etcTagBtn:visited {
      background-color: #000000;
      color: white; }
    .fundingOpenBtnView .birthdayTagBtn.selected, .fundingOpenBtnView .graduateTagBtn.selected, .fundingOpenBtnView .etcTagBtn.selected {
      background-color: #000000;
      color: white; }

.fundingOpenBtnTitle {
  justify-self: flex-start;
  color: #000000;
  font-size: 15px;
  font-weight: 500;
  white-space: nowrap; }

@media (max-width: 768px) {
  .view {
    flex-direction: column; } }

/*# sourceMappingURL=fundingTagBtn.css.map */
