.mainFriendFunding {
  background-color: #ff8c8c;
  height: 282px ;
  .mainFriendFunding-text {
    font-size: 13px;
    padding: 15px 0 0 25px;
  }
  .carousel.carousel-slider {
    height: 246px;
  }
  .carousel .control-dots {
    margin: 0 0 !important;
  }

}


.friendFunding-contents {
  display: flex;
  justify-content: center;
  /* width: 100%; */
  height: 248px;


}


.friendFunding-group {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-right: -5px;
}

.mainFriendFundingitem {
  flex: 0 0 auto;
}
.friendFunding-items-container {
  display: flex;
  flex-direction: row;
  margin: 15px 40px 0 40px;
  justify-content: center;
}

.mainFriendFundingitem {
  display: flex;
  justify-content: center;;
  margin: 0 25px 0 25px;
}
.mainFriendFundingContents {
  display: inline-block;
  flex-direction: column;
  text-align: center;
  margin: 4px 30px;


  .mainFriendFundingProfile-item {
    position: relative;

    .mainFriendFunding-Itemimg {
      box-shadow: 0px 0px 3px #b8b8b8;
      margin-bottom: 10px;

    }
  }

  .mainFriendFunding-profile-img {
    position: absolute;
    top: 100px;
    left: 155px;
    border-radius: 50%;
    width: 65px !important;
    height: 65px;
    border: 1.2px solid #000000 !important;
  }

  .mainFriendFunding-textContents {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 7px;

    .mainFriendFunding-NickName-Dday {
      display: flex;
      align-items: center;

      .mainFriendFunding-NickName {
        font-size: 14px;
        font-weight: bolder;
      }

      .mainFriendFunding-D-day {
        font-size: 13px;
        margin-left: 8px;
      }
    }

    .mainFriendFunding-Tag {
      font-size: 13px;
      color: #353535;

    }


  }

  .gauge-bar {
    width: 100%;
    height: 18px;
    background-color: #FFFFFF;
    border: 1px solid black;
    border-radius: 30px;

    .bg-success {
      --bs-bg-opacity: 1;
      background-color: #ffdd2a !important;
      color: black;
      font-size: 12px;
    }
  }

  .item-img-container {
    width: 230px;
    height: 175px;
    box-shadow: 0px 0px 3px #b8b8b8;

    img.item-img {
      width: 100%;
      height: 100%;
    }
  }
}
