.mainFriendFunding {
  background-color: #F7F7F7;
  height: 282px;
  font-family: 'SUITE-Regular'; }
  .mainFriendFunding .mainFriendFunding-text {
    font-size: 18px;
    padding: 15px 0 0 25px; }
  .mainFriendFunding .carousel.carousel-slider {
    height: 246px; }
  .mainFriendFunding .carousel .control-dots {
    margin: 0 0 !important; }
  .mainFriendFunding .carousel.carousel-slider .control-arrow {
    display: none; }
  .mainFriendFunding .carousel .slider-wrapper.axis-horizontal .slider .slide {
    width: 710px; }

.friendFunding-contents {
  display: flex;
  justify-content: center;
  /* width: 100%; */
  height: 248px; }
  .friendFunding-contents .carousel-root {
    width: 100%;
    outline: none; }

.friendFunding-group {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-right: -5px; }

.mainFriendFundingitem {
  flex: 0 0 auto; }

.friendFunding-items-container {
  display: flex;
  flex-direction: row;
  margin: 15px 40px 0 40px;
  justify-content: center; }

.mainFriendFundingitem {
  display: flex;
  justify-content: center;
  margin: 0 25px 0 25px; }

.mainFriendFundingContents {
  display: inline-block;
  flex-direction: column;
  text-align: center;
  margin: 4px 30px; }
  .mainFriendFundingContents .mainFriendFundingProfile-item {
    position: relative; }
    .mainFriendFundingContents .mainFriendFundingProfile-item .mainFriendFunding-Itemimg {
      box-shadow: 0px 0px 3px #b8b8b8;
      margin-bottom: 10px; }
  .mainFriendFundingContents .mainFriendFunding-profile-img {
    position: absolute;
    top: 100px;
    left: 155px;
    border-radius: 50%;
    width: 65px !important;
    height: 65px;
    border: 1.2px solid #000000 !important; }
  .mainFriendFundingContents .mainFriendFunding-textContents {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 7px; }
    .mainFriendFundingContents .mainFriendFunding-textContents .mainFriendFunding-NickName-Dday {
      display: flex;
      align-items: center;
      color: black; }
      .mainFriendFundingContents .mainFriendFunding-textContents .mainFriendFunding-NickName-Dday .mainFriendFunding-NickName {
        font-size: 14px;
        font-weight: bolder; }
      .mainFriendFundingContents .mainFriendFunding-textContents .mainFriendFunding-NickName-Dday .mainFriendFunding-D-day {
        font-size: 13px;
        margin-left: 8px; }
    .mainFriendFundingContents .mainFriendFunding-textContents .mainFriendFunding-Tag {
      font-size: 13px;
      color: #353535; }
  .mainFriendFundingContents .gauge-bar {
    width: 100%;
    height: 18px;
    background-color: #FFFFFF;
    border: 1px solid black;
    border-radius: 30px; }
    .mainFriendFundingContents .gauge-bar .bg-success {
      --bs-bg-opacity: 1;
      background-color: #ffdd2a !important;
      color: black;
      font-size: 12px; }
  .mainFriendFundingContents .item-img-container {
    width: 230px;
    height: 175px;
    box-shadow: 0px 0px 3px #b8b8b8; }
    .mainFriendFundingContents .item-img-container img.item-img {
      width: 100%;
      height: 100%; }

/*# sourceMappingURL=mainFriendFunding.css.map */
