
.friendFunding-item-itemimg{
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  margin-left: 25px;
  .fundingItem1{
    width: 260px;
    height: 220px;
    margin-right: 10px;
  }
  .fundingItemSub {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 50px;

    .fundingItem2{
      width: 135px;
      height: 105px;
      margin-bottom: 10px;
    }
    .fundingItem3{
      width: 135px;
      height: 105px;

    }
  }
}






