.products {
  width: 180px;
  align-content: space-between;
  padding-bottom: 60px;

  text-decoration: none;

  .imgwrap {
    position: relative;
    .soldout {
      width: 100%;
      height: 100%;
      display: flex;
      position: absolute;
      justify-content: center;
      align-items: center;
      .text {
        font-size: 20px;
        font-weight: 700;
        color: purple;
        z-index: 1;
      }
      .bg {
        width: 100%;
        height: 100%;
        position: absolute;
        opacity: .7;
        background-color: white;
      }
    }
  }
  .title {
    font-size: 100px;
    font-weight: 400;
    padding-top: 10px;
    line-height: 1.2;
  }
  .price {
    font-size: 16px;
    padding-top: 10px;
    font-weight: 700;
  }
}

.img-wrapper{
  height: max-content;
  }

.title-wrapper{
  margin-top: 15px;
  height: 60px;
  color: #3e3e3e;
}

.price-wrapper{
  height: max-content;
  color: #6d6d6d;
}

.brand-wrapper{
  margin-top: 5px;
  height: max-content;
  margin-bottom: -10px !important;
  //color: #6d6d6d;
}