.mypage-friend-history-container{
  display: flex;
  margin: 10px;
  background-color: #e7e7e7;
  border-radius: 5px;
  //width: 100%;
  width: 1130px;
  box-sizing: border-box;
  min-height: 500px;
}