.modal-boby {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  .modal {
    width: 408px;
    height: 300px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .modal-content {
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-around;
    padding: 25px;
    .modal-header {
      padding: 0 0 5px 0;
    }
    .modal-message2{
      margin-top: 10px;
    }
    .modal-button{
      display: flex;
      width: 100%;
      justify-content: space-evenly;

      .modal-closeBtn {
        margin-top: 20px;
        padding: 10px 20px;
        background-color: #bdbdbd;
        color: #000000;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }
      .modal-myPageBtn {
        margin-top: 20px;
        padding: 10px 20px;
        background-color: #FFC83B;
        color: #000000;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }

    }
  }
}