
.friendFundingDetailFriendToFunding {
  display: flex;
  justify-content: center;
  .friendFundingDetail-FriendToFunding{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 364px;
    width: 320px;
    align-items: flex-start;

    .friendFundingDetail-FriendToFunding-style1{
      width: 100%;

      .fundingToFriend-Text, .deadLine {
        color: #000000;
        font-size: 17px;
        font-weight: 700;
        text-align: center;
        display: flex;
      }

      .MoneyButtonGroup {
        width: 100%;
        margin-top: 10px;
        display: flex;
        justify-content: space-around;
      }
    }

    .friendFundingDetail-FriendToFunding-style2{
      width: 100%;

      .friendFundingDetail-fundingInfo {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: baseline;

        .friendFundingDetail-dDayGroup {
          display: flex;
          margin-top:30px;
          justify-content: space-between;
          align-items: baseline;

          .friendFundingDetail-dDay{
            color: #FFACAC;
            font-size: 25px;
            font-weight: 900;
            text-align: end;
          }

          .friendFundingDetail-deadLine{
            color: gray;
            font-size: 15px;
            margin-left: 10px;
            justify-content: center;
            text-align: center;
          }
        }

        .friendFundingDetail-totalPercent {
          color: #000000;
          font-size: 30px;
          font-weight: bold;
          text-align: end;
          height: 100%;
        }
      }

      .friendFundingDetail-gaugeBar{
        width: 100%;

        .gauge-bar.progress {
          width: 100%;
          height: 30px;

          .bg-success {
            --bs-bg-opacity: 1;
            background-color: #FFDD2A !important;
            color: black;
          }
        }
      }
    }
    .friendFundingDetail-FriendToFunding-style3{
      width: 100%;

      .friendFundingDetail-payButton {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;

        .friendToFundingBtn-btn {
          width: 255px;

          button.yellowBtn.btn.btn-primary {
            width: 100%;
            height: 50px;
          }
        }
        .fundingButton{
          color: #000000;
          font-size: 17px;
          font-weight: 700;
          text-align: center;
          width:260px;
          background-color: #ffc83b;
          border-radius: 10px;
          border: none;
        }
        .friendFundingDetail-sharebtn {
          object-fit: cover;
          background-size: 100%;
          border-radius: 7px;
          height: 50px;
          width: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          border: none;
          box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
          transition: all 0.3s cubic-bezier(.25,.8,.25,1);
          img.friendFundingDetail-sharebtn {
            width: 83%;
            height: 65%;
            box-shadow: none;

          }

        }

      }
    }

  }


}






//
//@media (max-width: 768px) {
//  .view, .group, .overlap-wrapper, .overlap-group-wrapper, .div-wrapper, .group-2, .group-3, .group-5 {
//    flex-direction: row;
//    flex-wrap: wrap;
//  }
//}