.fundingRegist-Page {
  display: flex;
  flex-direction: column;
  .fundingRegistContent{
    flex: 1;
    display: flex;
    align-items: flex-start;
  }
  .funding {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

.fundingRegist-Details{

  border-left: 1px solid #6a6a6a;

  .FundingRegist-registBtn{
    display: flex;
    justify-content: center;


    .FundingRegist-btn {
      display: flex;
      align-items: center;
      margin-bottom: 5%;

      .yellowBtn{
        width: 300px;
        height: 45px;
        text-align: center;
      }
    }
  }

}


}