.ranking-pane-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.balloon {
  position: relative;
  width: 100%;
  background: #e5efff;
  border-radius: 10px;
  padding: 0px;
}

.balloon:after {
  border-top: 0px solid transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #e5efff;
  content: "";
  position: absolute;
  top: -10px;
  left: 500px; /* 초기 위치 설정 */
}

