.my-point {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;

}

.my-point-first-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.my-point-input {
  background-color: #ffffff;
  border: 1px solid #cacaca;
   width: 300px;
  font-size: 18px;
  text-align: right;
}

.my-point-unit {
  font-size: 25px;
  padding-top: 10px;
  margin: 0 0 0 5px;
}

.my-point-fixed-text {
  color: #1d1d1d;
  font-size: 20px;
  text-align: center;
  margin-right: 10px;
}

.my-point-use-all-point {
  background-color: #ffc83b;
  border-radius: 10px;
  height: 38px;
  width: 89px;
  border: none;
  color: #000000;
  font-size: 16px;
  text-align: center;
  line-height: normal;
  margin-left: 6px;
}

.my-point-use-usable-point {
  color: #7e7e7e;
  font-size: 15px;
  font-weight: 200;
  width: 100%;
  text-align: end;
}

@media (max-width: 768px) {
  .my-point {
    flex-direction: column;
  }
}