.memberFundingDday {
  font-family: SUITE-Regular;
  font-size: 23px;
  font-weight: bold;
  margin-left: 20px;
  color: #FFACAC;
}

.mypage-day-wrpper{
  font-family: SUITE-Regular;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mypage-enddate-pane{
  font-family: SUITE-Regular;
  margin-left: 20px;
}

.mypage-fin-button-noti-wrpper {
  font-family: SUITE-Regular;
  display: flex;
  flex-direction: row;
  align-items: center;
}
