.exchange-button{
  height: 25px;
  width: 50%;
  margin-left: 5%;
  justify-content: center;
  text-align: center;
  font-family: SUITE-Regular;
  border: 2px solid #333;
  border-radius: 8px;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 13px;
  background-color: #fdc73b;
  color: #2a2a2a;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 2px 3px 5px #cbcbcb;
}