.friendFundingDetail-optionDetail {
  font-family: SUITE-Regular;
  width: 369.6px;
  display: flex;
  flex-direction: column;
  height: 100%;
  .friendFundingDetail-optionDetail1{
    height: 100vh;
  }
  .friendFundingDetail-optionDetail2{
    height: 100%;
  }
}