

.myPageFundingRecordItem {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #c2c2c2;
  margin: 10px;
  padding-left: 10px;
}

.myPageFundingRecordText{
  margin: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
}

.showDetail, .fundingDateTime, .fundingTag, .participatePeople, .fundingGaugePercent {
  color: #8c8c8c;
  font-size: 15px;
  font-weight: 400;
  text-align: left;
}

.showFunding{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lookingDetail{
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  height: 175px;
  object-fit: cover;
  width: 175px;
  border: 1px solid #e9e9e9;
}


.fundingDateTime{
  margin-top: 10px;
  margin-bottom: 10px;
}

.showDetailButton {
  -webkit-text-stroke: 0.2px #000000;
  color: #8d8d8d;
  align-items: center;
  display: flex;
  margin: 5px;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  border-radius: 90px;
  border: none;
  height: 25px;
  width: 25px;
}

.showFundingGauge{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.fundingGaugePercent{
  font-size: 30px;
  font-weight: bold;
}

.gauageBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.rectangle-wrapper {
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 120px;
  height: 32px;
  flex-grow: 1;
}

@media (max-width: 768px) {
  .box, .group, .overlap {
    flex-direction: column;
    width: 100%;
  }

  .group-wrapper, .overlap-group-wrapper {
    flex-wrap: wrap;
  }
}