.yellowBtn{
  background-color: #FFC83B;
  color: black;
  box-shadow: none;
  border: none;

  &:hover, &:active, &:focus{
    background-color: #FFC83B !important;
    box-shadow: none !important;
  }
  //버튼 최상위로 올림
  position: relative;
  z-index: 1;
}
