.main-pane-container {
  display: flex;
  flex-direction: column; /* 세로 방향으로 아이템을 배치 */
  align-items: center;
}

.ranking-button-area {
  background: #f5f5f5;
  padding: 20px;
  width: 100%;
}

.ranking-item-area {
  background: white;
  padding: 20px;
  width: 100%;
  margin-top: 5spx; /* ranking-button-area와의 간격 조정 */
}

.rankging-text {
  font-family: 'Hanna', fantasy;
  font-size: 30px;
  margin: 0;
  text-align: center;
}

.item-list-single {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
  justify-content: center;
  align-items: flex-start;
  padding:10px;
}

.single-item {
  display: flex;
  width: 900px;
  height: 420px;
  flex-basis: 25%;
  padding:10px;
  font-family: SUITE-Regular;
  font-size: 90%;
  max-width: 18%;
  >a{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
}

@media all and (max-width:479px) {
  .rankging-text{
    font-size: 18px;
  }
  .item-list-single {
    gap:93px;
  }
  .single-item {
    max-width: 30%;
  }
  }

