.fundingBox {
  color: #000000;
  height: 50px;
  width: 100%;
  //border: 1px solid #c2c2c2;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #FFC83B;


  .fundingBtn{
    color: #000000;
    font-size: 20px;
    font-family: SUITE-Regular;
    letter-spacing: 0;
    line-height: normal;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    box-shadow: none;

  }
}



