.friendFundingDropdownBtn{
  font-family: SUITE-Regular;
  padding-left: 8px;

  button#dropdown-button-dark-example2 {
    background-color: #E4E4E4;
    color:black;
    border: none;

  }
  .dropdown-menu.show {
    background-color: #c1c1c1;
  }
  .dropdown-menu.show :hover{
    background-color: #ffffff;
    color: black;
  }
}