.box {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;

  .shopping-detail-img {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 45px;
    .shopping-detail-testImg{
      display: flex;
      width: 1200px;
      height: auto;
      justify-content: center;
    }
  }
}

.blank{
  height: 200px;
}

.box .text-wrapper {
  color: #000000;
  font-size: 20px;
  font-weight: 400;
  width: 407px;
  background-color: white;
  border: 1px solid white;
  border-right:1px solid #000000;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
}

.box .text-wrapper-2 {
  color: #000000;
  font-size: 20px;
  font-weight: 400;
  width: 407px;
  background-color: white;
  border: 1px solid white;
  border-right:1px solid #000000;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
  white-space: nowrap;
}

.box .text-wrapper-3 {
  color: #000000;
  font-size: 20px;
  font-weight: 400;
  width: 407px;
  background-color: white;
  border: 1px solid white;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
  white-space: nowrap;
}
.shopping-detail-title {
  width: 100%;
  display: flex;
  justify-content: center;
}

.shop-item-index-container{
  display: flex;
  flex-direction: row;
  width: 1220px;
  height: 60px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  align-items: center; /* 수직 중앙 정렬 */
  margin: 0 13%; /* 좌우 중앙 정렬 */
 }