.fundingRegistDetails {
  width: 369.6px;
  border-left: 1px solid #6a6a6a;
  height: 100vh;

  .fundingRegistDetailsContent {
    display: flex;
    justify-content: center;

    margin-top: 10px;
    //float: right;
    //margin-right: 10%
    align-items: center;

  }
  .checkFunding-btn{
    position: absolute;
    right: 50px;
    bottom: 20px;
  }

}
