.fundingRegistDetails {
  font-family: SUITE-Regular;
  width: 369.6px;

  .fundingRegistDetailsContent {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    align-items: center;
    justify-content: space-between;
    width :100%;
  }

}
