.fundingRegistDetails {
  width: 369.6px;
  border-left: 1px solid #6a6a6a;
  height: 100vh;

  .fundingRegistDetailsContent {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin-top: 15px;
    //float: right;
    //margin-right: 10%
    align-items: center;
    justify-content: space-between;
    width :100%;
  }
  .FundingRegist-registBtn{
    display: flex;
    justify-content: flex-end;

    .FundingRegist-btn {
      display: flex;
      align-items: center;

      margin-bottom: 20%;
    }
  }
}
