.memberNoFunding {
  display: flex;
  align-items: center;
  background-color: #EBEBEB;
  height: 210px;

  .memberNoFunding-Profile {
    margin-right: 10px;
  }

  .memberNoFunding-text {
    color: black;
    text-align:left;
    margin-bottom: 10px;
    font-size:23px;
  }

}




