.navbar-logo {
  img {
    height: 50px;
    margin-right: 10px;
    margin-left: 10px;
  }
}
.headerBar{
  background-color: white;
}

.navbarMenu{
  maxHeight: '100px';
}

.seachBar{
  display: flex;
  flex-direction: row;
  margin-left: auto;

}

.navbar-nav {
  display: flex;
  align-items: center; // 요소들을 수직으로 가운데 정렬합니다.
}

.gifthub-btn{
  border: none;
  cursor: default;
  background: none;
  &:hover, &:active, &:focus{
    background:none !important;
    box-shadow:none !important;
  }
  img{
    height: 25px;
  }
}

.login-btn{
  margin-right: 10px;
}