.friendFundingPayPage {
  font-family: 'SUITE-Regular';
  .friendFundingPayPageDetileImg{
    position: relative;
    display:flex;
    width: 80%;
    margin: 0 auto;
    justify-content: center;

  }
  .friendFundingPayPageDetile {
    //background-image: url("../../../assets/friendFunding/receipt.svg");
    //background-size: contain;
    //margin: 0 5% 5% 5%;
    //background-repeat: no-repeat;
    //background-position: 50% 0;

  }
  .friendFundingPayPageDetileInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

}