.friendFundingPayPage {

  .friendFundingPayPageDetile{
    background-image: url("../../../assets/friendFunding/receipt.svg");
    background-size: cover;
    margin: 0 5% 5% 5%;

  }

  .friend-funding-profile {
    display: flex;
    flex-direction: row;
    height: 191px;
    width: 632px;
    align-items: center;
  }

  .friend-funding-profile-image {
    height: 187px;
    object-fit: cover;
    width: 187px;
    border: 1px solid black;
    border-radius: 50%;
  }


  .friend-funding-profile-name {
    color: #000000;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 25px;
    text-align: center;
    width: 262px;
    margin-left: 30px
  }

  .friend-funding-profile-text {
    color: #000000;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }

  .friend-funding-total-price {
    display: flex;
    flex-direction: column;
    height: 178px;
    width: 720px;
    justify-content: space-between;
  }

  .friend-funding-total-price-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .friend-funding-total-price-first-text, .friend-funding-total-price-second-text {
    font-size: 35px;
    font-weight: 500;
    white-space: nowrap;
  }

  .friend-funding-total-price-first-text {
    width: 85px;
    height: 36px;
  }

  @media (max-width: 768px) {
    .friend-funding-total-price {
      flex-direction: column;
    }
  }
}

.friend-funding-price-current-pay {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 241px;
  width: 920px;
}

.friend-funding-price-current-pay-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #000000;
  font-size: 35px;
  font-weight: 500;
  letter-spacing: 0;
}

.friend-funding-price-current-pay-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: flex-end;
  height: 178px;
  width: 735px;
}

.friend-funding-price-current-pay-fixed-text {
  color: #1d1d1d;
  font-size: 25px;
  font-weight: 200;
}

@media (max-width: 768px) {
  .friend-funding-price-current-pay-div {
    flex-direction: column;
  }
}

.friend-funding-bar-code {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 128px;
  width: 1038px;
  justify-content: space-between;
}

.friend-funding-bar-code-image {
  //background-image: url(./barcode-image.svg);
  background-position: 50% 50%;
  background-size: cover;
  height: 128px;
  width: 570px;
}

.friend-funding-bar-code-price {
  color: #000000;
  font-size: 50px;
  font-weight: 500;
  text-align: end;
  width: 333px;
}

.friend-funding-bar-code-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.friend-funding-bar-code-button {
  color: #000000;
  font-size: 22px;
  font-weight: 400;
  height: 50px;
  text-align: center;
  width: 206px;
  align-self: flex-end;
  background: #FFC83B;
  border: none;
  border-radius: 6px;
}

@media (max-width: 768px) {
  .friend-funding-bar-code {
    flex-direction: column;
  }
}