.MyPageFriendFundingListBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: auto;
}

.MyPageFriendFundingListBox .MyPageFriendFundingListView {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.MyPageFriendFundingListBox .MyPageFriendFundingListTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
}


.MyPageFriendFundingListBox .MyPageFriendFundingListText-wrapper {
  color: #000000;
  font-family: SUITE-Regular;
  font-size: 30px;
  font-weight: 400;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.MyPageFriendFundingListBox .MyPageFriendFundingListText-wrapper-2 {
  color: #000000;
  font-size: 16px;
  font-family: SUITE-Regular;
  margin: 5px;
  text-align: center;
  align-self: center;
}

.MyPageFriendFundingListBox .MyPageFriendFundingListView-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.MyPageFriendFundingListBox .MyPageFriendFundingListText-wrapper-2 {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-right: 10px;
  margin-left: 10px;
}

.MyPageFriendFundingListBox .MyPageFriendFundingListOverlap-group {
  background-color: #ebebeb;
  display: flex;
  justify-content: space-between;
  padding: 3px;
  margin: 3px;
}

.MyPageFriendFundingListBox .MyPageFriendFundingListText-wrapper-7 {
  color: #737373;
  font-family: SUITE-Regular;
  font-size: 20px;
  font-weight: 100;
  line-height: normal;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  margin-left: 10px;
  width: 256px;
  height: 33px;
}

.MyPageFriendFundingListBox .MyPageFriendFundingListText-wrapper-6 {
  color: #737373;
  font-family: SUITE-Regular;
  font-size: 20px;
  font-weight: 100;
  line-height: normal;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 256px;
  height: 33px;
}


@media (max-width: 768px) {
  .MyPageFriendFundingListBox, .MyPageFriendFundingListBox .MyPageFriendFundingListView, .MyPageFriendFundingListBox .MyPageFriendFundingListTitle ,.MyPageFriendFundingListBox .MyPageFriendFundingListView-2, .MyPageFriendFundingListBox .MyPageFriendFundingListOverlap-group {
    flex-direction: column;
    align-items: center;
  }
}