.MyPayDeliveryListBox {
  display: flex;
  padding-top: 18px;
  flex-direction: column;
  justify-content: space-between;
  width: 353px;
}

.MyPayDeliveryListBox .MyPayDeliveryListView,
.MyPayDeliveryListBox .MyPayDeliveryListGroup,
.MyPayDeliveryListBox .MyPayDeliveryListView-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.MyPayDeliveryListBox .MyPayDeliveryListView {
  width: 355px;
  margin-bottom: 15px;
}

.MyPayDeliveryListBox .MyPayDeliveryListGroup {
  background-color: #ffffff;
  border: 1px solid #b7b7b7;
  height: 160px;
  width: 353px;
  padding: 10px;
}

@media (max-width: 768px) {
  .MyPayDeliveryListBox,
  .MyPayDeliveryListBox .MyPayDeliveryListView,
  .MyPayDeliveryListBox .MyPayDeliveryListGroup,
  .MyPayDeliveryListBox .MyPayDeliveryListView-wrapper {
    flex-direction: column;
    flex-wrap: wrap;
  }
}


.MyPayDeliveryListGroup{
  border: 1px solid #3e3e3e;
}

.MyPayDeliveryListBox .MyPayDeliveryListGroup {
  background-color: #ffffff;
  border: 1px solid #b7b7b7;
  height: 160px;
  width: 353px;
  padding: 10px;
}