.friendFundingDetail-FriendProfile {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .friendFundingDetail-FriendProfile .friendFundingDetail-Profile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 30px; }
    .friendFundingDetail-FriendProfile .friendFundingDetail-Profile .friendProfileInfo {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start; }
      .friendFundingDetail-FriendProfile .friendFundingDetail-Profile .friendProfileInfo .friendFundingDetail-friendProfileImage {
        width: 100%;
        object-fit: cover;
        height: 64px;
        width: 64px;
        border-radius: 90px;
        border: 1px solid #000000; }
      .friendFundingDetail-FriendProfile .friendFundingDetail-Profile .friendProfileInfo .friendFundingDetail-friendName {
        color: #000000;
        font-size: 25px;
        font-weight: 700;
        text-align: center;
        margin-left: 10px; }
      .friendFundingDetail-FriendProfile .friendFundingDetail-Profile .friendProfileInfo .friendFundingDetail-fundingTag {
        margin-left: 12px;
        color: #9c9c9c;
        font-size: 15px;
        font-weight: 400; }
    .friendFundingDetail-FriendProfile .friendFundingDetail-Profile .fundingMessage-triangle {
      width: 0px;
      height: 0px;
      margin: 10px 0 0 21px;
      border-bottom: 14px solid #e5eeff;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent; }
    .friendFundingDetail-FriendProfile .friendFundingDetail-Profile .fundingMessageBackSpace {
      background-color: #e5eeff;
      border-radius: 10px;
      display: flex;
      align-items: center;
      height: 76px;
      width: 100%;
      padding-top: 25px;
      padding-bottom: 25px; }
      .friendFundingDetail-FriendProfile .friendFundingDetail-Profile .fundingMessageBackSpace .fundingMessage {
        color: #000000;
        font-size: 15px;
        font-weight: 400;
        margin-left: 15px; }
    .friendFundingDetail-FriendProfile .friendFundingDetail-Profile .fundingFriendsTitle {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 23px 0 10px 0; }
      .friendFundingDetail-FriendProfile .friendFundingDetail-Profile .fundingFriendsTitle .paperAirplane {
        width: 18px;
        height: 18px; }
      .friendFundingDetail-FriendProfile .friendFundingDetail-Profile .fundingFriendsTitle .fundingFriendsIntro {
        color: #000000;
        font-size: 15px;
        text-align: center;
        margin-left: 5px; }

.friendFundingDetail-fundingFriends {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #efeeee;
  padding: 12px;
  width: 320px;
  flex-wrap: wrap; }
  .friendFundingDetail-fundingFriends .fundingFriends-img {
    height: 50px;
    width: 50px;
    border-radius: 90px;
    margin: 4px 4.5px; }
  .friendFundingDetail-fundingFriends .nextFriends {
    color: #000000;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    width: 29px;
    height: 29px;
    border-radius: 90px; }
  .friendFundingDetail-fundingFriends .friendFundingDetail-fundingFriends-img {
    position: relative; }
  .friendFundingDetail-fundingFriends .friendFundingDetail-friendName {
    position: absolute;
    top: 57px;
    left: 5px;
    text-align: center;
    background-color: #e5eeff;
    border-radius: 10px;
    width: 55px;
    border: 1px solid #c0c0c0;
    z-index: 1;
    display: none; }
  .friendFundingDetail-fundingFriends .fundingFriends-img:hover + .friendFundingDetail-friendName {
    display: block !important; }

/*# sourceMappingURL=friendFundingDetail-profileMessage.css.map */
