.friendFundingDetail-FriendProfile{
  display: flex;
  flex-direction: column;
  align-items: center;
  .friendFundingDetail-Profile{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 30px;
    .friendProfileInfo {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;

      .friendFundingDetail-friendProfileImage{
        width: 100%;
        object-fit: cover;
        height: 64px;
        width: 64px;
        border-radius: 90px;
        border: 1px solid #000000;
      }
      .friendFundingDetail-friendName{
        color: #000000;
        font-size: 25px;
        font-weight: 700;
        text-align: center;
        margin-left: 10px;
      }
      .friendFundingDetail-fundingTag{
        margin-left: 12px;
        color: #9c9c9c;
        font-size: 15px;
        font-weight: 400;
      }
    }
    .fundingMessage-triangle {
      width: 0px;
      height: 0px;
      margin: 10px 0 0 21px;
      border-bottom: 14px solid #e5eeff;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
    }
    .fundingMessageBackSpace {
      background-color: #e5eeff;
      border-radius: 10px;
      display: flex;
      align-items: center;
      height: 76px;
      width: 100%;
      padding-top: 25px;
      padding-bottom: 25px;

      .fundingMessage {
        color: #000000;
        font-size: 15px;
        font-weight: 400;
        margin-left: 15px;
      }
    }

    .fundingFriendsTitle {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 23px 0 10px 0;
      .paperAirplane{
        width: 18px;
        height: 18px;
      }
      .fundingFriendsIntro{
        color: #000000;
        font-size: 15px;

        text-align: center;
        margin-left: 5px;
      }
    }

  }
}

.friendFundingDetail-fundingFriends {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #efeeee;
  padding: 12px;
  //justify-content: space-between;
  width: 320px;
  //position: relative;

  .fundingFriends-img{
    height: 50px;
    width: 50px;
    border-radius: 90px;
    margin: 0 7px
  }

  .nextFriends  {
    color: #000000;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    width: 29px;
    height: 29px;
    border-radius: 90px;
  }
  .friendFundingDetail-fundingFriends-img {
    position: relative;
  }
  .friendFundingDetail-friendName{
    position: absolute;
    top: 57px;
    left: 5px;
    text-align: center;
    background-color: #e5eeff;
    border-radius: 10px;
    width: 55px;
    border: 1px solid #c0c0c0;

    display: none;
  }

  .fundingFriends-img:hover + .friendFundingDetail-friendName{
    display: block;
  }

}

   //
   //
   //@media (max-width: 768px) {
   //   .overlap, .overlap-2, .overlap-group, .group {
   //    flex-direction: row;
   //    flex-wrap: wrap;
   //  }
   //}