.friendInfo{
  display: flex;
}
.friendFunding {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ebebeb;
  border-radius: 10px;
  height: 443px;
  width: 646px;
}


.MyPageFundingGaugeView {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 82px;
  width: 100%;
}

.gauagePercent {
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  text-align: right;
  margin-right: 50px;
}

.gauageBar {
  display: flex;
  justify-content: space-between;
  height: 32px;
  width: 100%;
}

.goDetail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

//   .group {
//     background-color: gray;
//     display: flex;
//     flex-direction: column;
//     justify-content: flex-end;
//     align-items: center; /* 위아래 중앙 정렬 */
//     height: 100%; /* 부모 요소의 높이를 100%로 설정 */
//     width: 30px;
//   }

// .polygon {
//     width: 20px;
//  }


@media (max-width: 768px) {
  .view, .group, .div, .group-2, .group-3 {
    flex-direction: column;
  }
}