.fundingToFriend-buttonGroup{
  width: 100%;

  flex-wrap: nowrap;
  justify-content: space-between;
  .friendFundingDetail-moneybuttonGroup {
    display: flex;
    width: 100%;
    justify-content: space-between;
    .money {
      background-color: #ffc83b;
      border-radius: 10px;
      height: 32px;
      width: 75px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .moneyButton{
      color: #FFFFFF;
      font-size: 14px;
      font-weight: 600;
      text-align: center;
      background-color: #ffc83b;
      border: none;
    }
  }
}

