.myfundingNickName{
  letter-spacing:5px;
}
.memberFundingD-day{
  letter-spacing:3px;

}
@media all and (max-width:479px){
  .myfundingNickName{
    letter-spacing:5px;
  }
  .memberFundingD-day{
    letter-spacing:3px;

  }
}

